/*******************************************************************************
 * Buttons
 ******************************************************************************/
button,
input[type="submit"],
.button {
    color: var(--grey-90);
    background-color: var(--grey-90-a10);
    border-radius: 2px;
    height: 32px;
    padding: 0 8px;
    font-size: 13px;
    min-width: 132px;
    width: auto;
    border: none;
    border-width: 1px;
}

a.button {
    text-decoration: none;
}

.button-micro,
input[type="submit"].button-micro /* need that specificity*/ {
    height: 24px;
    font-size: 11px;
    min-width: auto;
}

.button-primary,
input[type="submit"].button-primary {
    color: var(--white-100);
    background: var(--blue-60);
}

.button-primary:hover,
input[type="submit"].button-primary:hover {
    background-color: var(--blue-70);
}

.button-primary:active,
input[type="submit"].button-primary:active {
    background-color: var(--blue-80);
}

.button-primary:focus,
input[type="submit"].button-primary:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

button:hover,
input[type="submit"]:hover,
.button:hover {
    background: var(--grey-90-a20);
}

button:active,
input[type="submit"]:active,
.button:active,
.button-pressed {
    background: var(--grey-90-a30);
}

button:focus,
input[type="submit"]:focus,
.button:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

[disabled],
.disabled,
.window-blur button {
    opacity: 0.4;
}

.button-ghost,
.closed-sidebar .win__sidebar button {
    font-size: 16px;
    color: var(--grey-90-a80);
    background-color: transparent;
    border: none;
    height: 32px;
    min-width: 32px;
    width: 32px;
    padding: 8px;
}

.button-text-ghost {
    background-color: transparent;
    border: none;
    min-width: auto;
    width: auto;
}

/* .danger:not([disabled]) {
    color: darkred;
} */
select[disabled] {
    opacity: 1; /* fixes a visual bug */
}

button[disabled]:hover,
input[type="text"][disabled]:hover,
.disabled:hover {
    border-color: transparent;
    background-color: var(--grey-90-a10);
}

/* Any buttons wrapped in this will only display on hover. */
.buttons-on-hover:not(:hover) button {
    opacity: 0;
}

/* Use `dont-hide` on buttons that should always be visible. */
.buttons-on-hover:not(:hover) .dont-hide {
    opacity: 1;
}

.buttons-on-hover:not(:hover) select {
    border-color: transparent;
}

.button-ghost svg {
    display: block;
}
