/*******************************************************************************
 * Forms
 ******************************************************************************/
label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.833rem;
    line-height: 1.4;
}

input[type="text"],
input[type="date"] {
    border-color: var(--grey-90-a20);
    border-width: 1px;
    border-radius: 2px;
    padding: 0 8px;
    width: auto;
    min-height: 32px;
    font-size: 1em;
}

select {
    border-color: var(--grey-90-a20);
}

/**
 * Used in places where an <input> may switch places with another element.
 * Wrap the other element in this class to make the transition seamless.
 * TODO: I've stopped working on this until more visual elements are stable.
 */
.inputPlaceholder {
    /* padding: 12px 24px; */
    display: inline-block;
}

input:hover {
    border-color: var(--grey-90-a30);
}

input:focus {
    border-color: var(--blue-50);
    box-shadow: var(--selected-box-shadow);
}

/* input:invalid {
    border-color: var(--red-60);
    box-shadow:
        0 0 0 1px #d70022,
        0 0 0 4px rgba(251, 0, 34, 0.3);
} */

::placeholder {
    color: var(--grey-50);
    /* font-size: 0.833rem;
    line-height: 1.4; */
}

fieldset {
    background-color: var(--white-100);
}