/*******************************************************************************
 * Setup
 ******************************************************************************/
@import-normalize;

:root {
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-monospace: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}

html {
    font-size: 17px;
    font-family: var(--font-main);
    color: var(--grey-90);
    background-color: var(--grey-10);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

#root {
    height: 100vh;
}

svg {
    vertical-align: middle;
    height: 1em;
    width: auto;
}