.app {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px auto 32px;
    grid-template-areas:
        "app-header"
        "app-content"
        "app-footer";
}

.header {
    grid-area: app-header;
    background-color: var(--grey-30);
    border-bottom: 1px var(--grey-40) solid;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.header.traffic-light-padding {
    padding-left: 72px;
}

.header a,
.header button {
    -webkit-app-region: no-drag;
}

.header button:focus {
    box-shadow: none;
    outline: none;
}

.main {
    grid-area: app-content;
    overflow: auto;
}

.has-sidebar {
    display: grid;
    grid-template-columns: 164px auto;
    grid-template-areas: "sidebar content-with-sidebar";
    width: 100%;
    height: 100%;
}

.closed-sidebar .has-sidebar {
    grid-template-columns: 48px auto;
    grid-template-areas: "sidebar content-with-sidebar";
}

.closed-sidebar .sidebar__hide-on-close {
    display: none;
}

.has-sidebar__content {
    grid-area: content-with-sidebar;
    overflow: auto;
}

.has-sidebar__sidebar {
    grid-area: sidebar;
    background-color: var(--grey-20);
    padding: 8px;
    border-width: 1px;
    border-color: var(--grey-30);
    border-right-style: solid;
    overflow: auto;
}

.closed-sidebar .has-sidebar__sidebar {
    text-align: center;
}

.has-sidebar__sidebar ul {
    list-style-type: none;
    padding: 0;
}

.has-sidebar__sidebar li {
    margin: 4px 0;
}

.has-sidebar__sidebar a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}

.window-blur .has-sidebar__sidebar a {
    opacity: 0.4;
}

.has-sidebar__sidebar a[aria-current] {
    padding-left: 8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: var(--grey-30);
    color: var(--grey-90);
}

.closed-sidebar .has-sidebar__sidebar a[aria-current] {
    padding-left: 0;
}

div[role="group"] {
    height: 100%;
}

.footer {
    grid-area: app-footer;
}

.passthrough,
.passthrough > div[role="group"] {
    width: 100%;
    height: 100%;
}

.content-area {
    width: 600px;
    padding-bottom: 16px;
    margin: 0 auto;
}

/* Empty space used for balancing visual elements */
.placeholder {
    opacity: 0;
    background-color: transparent;
}

.plain-list {
    list-style-type: none;
    padding: 0;
}
