.app {
    height: 100vh;
    display: grid;
    grid-template-rows: 38px 1fr;
    grid-template-areas:
        "app-header"
        "app-content";
}

.app.isElectron.isWindows {
    grid-template-rows: 32px 1fr;
}

.app.isElectron.isMacOS {
    grid-template-rows: 38px 1fr;
}

.app__header {
    grid-area: app-header;
    background-color: var(--grey-30);
    border-bottom: 1px var(--grey-40) solid;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.app__header.traffic-light-padding {
    padding-left: 72px;
}

.app__header a,
.app__header button {
    -webkit-app-region: no-drag;
}

.app__header button:focus {
    box-shadow: none;
    outline: none;
}

.app__main {
    grid-area: app-content;
    overflow: auto;
}

.winBody {
    height: 100%;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "win-sidebar win-content";
}

.winBody-hasFooter {
    grid-template-rows: 1fr 24px;
    grid-template-areas:
        "win-sidebar win-content"
        "win-statusbar win-statusbar";
}

.win__sidebar {
    grid-area: win-sidebar;
    background-color: var(--grey-20);
    padding: 8px;
    border-width: 1px;
    border-color: var(--grey-30);
    border-right-style: solid;
    overflow: auto;
}

.closed-sidebar .winBody {
    grid-template-columns: 48px auto;
}

.closed-sidebar .sidebar__hide-on-close {
    display: none;
}

.closed-sidebar .win__sidebar {
    text-align: center;
}

.win__sidebar ul {
    list-style-type: none;
    padding: 0;
}

.win__sidebar li {
    margin: 4px 0;
}

.win__sidebar a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}

.win__content {
    grid-area: win-content;
    overflow: auto;
}

.win__sidebar a[aria-current] {
    padding-left: 8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: var(--grey-30);
    color: var(--grey-90);
}

.closed-sidebar .win__sidebar a[aria-current] {
    padding-left: 0;
}

.win__footer {
    grid-area: win-statusbar;
    background-color: var(--grey-30);
    border-top: 1px var(--grey-40) solid;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 13px;
    -webkit-user-select: none;
}

.win__footer-block {
    margin: 0 8px;
}

.win__footer-divider {
    display: inline-block;
    width: 2px;
    height: 16px;
    margin: 0 8px;
}

.window-blur .app__header,
.window-blur .win__footer {
    background-color: var(--grey-20);
    border-color: var(--grey-30);
}

.window-blur .win__sidebar a,
.window-blur .win__footer-block {
    opacity: 0.4;
}

div[role="group"] {
    height: 100%;
}

.passthrough,
.passthrough > div[role="group"] {
    width: 100%;
    height: 100%;
}

.content-area {
    width: 600px;
    padding-bottom: 16px;
    margin: 0 auto;
}

/* Empty space used for balancing visual elements */
.placeholder {
    opacity: 0;
    background-color: transparent;
}

.plain-list {
    list-style-type: none;
    padding: 0;
}
