/*******************************************************************************
 * Tables
 ******************************************************************************/
table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 4px;
}

.table__number {
    font-family: var(--font-monospace);
    text-align: right;
}

.center {
    text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
    opacity: 0.5;
}

.dummy {
    font-style: italic;
}
.data__input {
    text-align:center;
}

li.player.missing {
    font-style: italic;
}