/*******************************************************************************
 * Tabs
 ******************************************************************************/
[data-reach-tabs] {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "tab-list"
        "tab-panels"
}

[data-reach-tab-list] {
    grid-area: tab-list;
    display: flex;
    justify-content: center;
    background: transparent;
    height: 48px;
}

[data-reach-tab-panels] {
    grid-area: tab-panels;
    overflow: auto;
}

[data-reach-tab] {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    background-color: transparent;
    color: var(--grey-90-a80);
    padding: 16px 8px;
    height: auto;
    font-size: 1em;
}

[data-reach-tab]:hover {
    background-color: var(--grey-90-a10);
    border-bottom-color: var(--grey-90-a20);
}

[data-reach-tab]:active {
    background-color: var(--grey-90-a20);
    border-bottom-color: var(--grey-90-a20);
}

[data-reach-tab][aria-selected="true"] {
    color: var(--blue-60);
    border-bottom-color: var(--blue-50);
}

[data-reach-tab][aria-selected="true"]:hover {
    background-color: var(--grey-90-a10);
}

[data-reach-tab][aria-selected="true"]:active {
    background-color: var(--grey-90-a20);
}
[data-reach-tab][disabled] {
    background-color: transparent;
}
[data-reach-tab][disabled]:hover {
    background-color: transparent;
}