.toolbar {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: var(--grey-10);
}

.toolbar > *:not(:first-child) {
    margin-left: 2px;
}

.toolbar__left {
    justify-content: flex-start;
}