.table {
    border-collapse: collapse;
}

.topHeader {
    vertical-align: bottom;
}

.table {
    width: min-content;
}

.row td,
.row th {
    border-width: 1px;
    border-color: var(--grey-40);
    border-style: solid;
}

.row:nth-child(odd) {
    background-color: var(--grey-20);
}

.playerName {
    text-align: left;
    color: var(--grey-90);
}

.rank {
    text-align: center;
    color: var(--grey-90);
}

.table :global(.table__number) {
    padding: 4px;
}