.table {
    border-collapse: collapse;
}

.topHeader {
    vertical-align: bottom;
}

.table {
    width: min-content;
}

.row td,
.row th {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.playerName {
    text-align: left;
    color: black;
}

.rank {
    text-align: center;
    color: black;
}

.table :global(.table__number) {
    padding: 4px;
}