.tournament {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 164px auto;
    grid-template-rows: 96px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content-with-sidebar"
}

:global(.closed-sidebar) .tournament {
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "content-with-sidebar"
}

.header {
    grid-area: header;
    text-align: center;
    background-color: var(--grey-20);
    border-width: 1px;
    border-color: var(--grey-30);
    border-bottom-style: solid;
}

.header h1,
.header input[type="text"] {
    margin-bottom: 0;
}

.header p {
    margin: 0;
}

.contentFrame [data-reach-tab-list] {
    padding: 4px 4px 0 4px;
}
