@media screen and (min-width: 600px) {
    .tournament {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 11em auto;
        grid-template-rows: max-content auto;
        grid-template-areas:
            "header header"
            "sidebar content"
    }
}

.header {
    grid-area: header;
    background-color: whitesmoke;
    border-bottom: 1px slategray solid;
}

.header h1 {
    text-align: center;
    font-size: 1.5em;
}

.sidebar {
    grid-area: sidebar;
    background-color: whitesmoke;
    border-right: 1px slategray solid;
    padding: 0.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.content {
    grid-area: content;
    overflow: auto;
}

.content [data-reach-tab-list] {
    padding: 0.25em 0.25em 0 0.25em;
}
