@media screen and (min-width: 600px) {
    .tournament {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 164px auto;
        grid-template-rows: 96px auto;
        grid-template-areas:
            "sidebar header"
            "sidebar content"
    }
}

.header {
    grid-area: header;
    margin-right: 32px;
    margin-left: 32px;
    text-align: center;
}

.header h1,
.header input[type="text"] {
    margin-bottom: 0;
}

.header p {
    margin: 0;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--grey-20);
    padding: 8px;
    border-width: 1px;
    border-color: var(--grey-30);
    border-right-style: solid;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 4px 0;
}

.sidebar a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sidebar a[aria-current] {
    padding-left: 16px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: var(--grey-30);
    color: var(--grey-90);
}

.contentFrame {
    grid-area: content;
    overflow: auto;
}

.contentFrame [data-reach-tab-list] {
    padding: 4px 4px 0 4px;
}
