.tournament {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
        "header header"
        "sidebar content"
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    margin-right: 0.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.content {
    grid-area: content;
}
