.splash {
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 100%;
    justify-content: space-between;
    background-color: var(--grey-10);
}

.hint {
    margin: 0 auto;

    /* This reduces the offset of the main title: */
    height: 64px;
    overflow: visible;
}

.hint li {
    margin: 8px 0;
}

.footer {
    background-color: var(--ink-80);
    color: var(--grey-20);
    padding: 0 16px;
}

.footer p {
    text-align: right;
}

.footer a {
    color: var(--teal-50);
}

.footer a:hover {
    color: var(--teal-60);
}

.title {
    color: var(--grey-90);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.titleIcon {
    flex-shrink: 1;
    margin-right: 8px;
}

.titleIcon svg {
    height: 64px;
    width: 64px;
}

.titleText {
    flex-grow: 1;
}

h1 {
    margin-bottom: 4px;
}

.subtitle {
    text-align: right;
    margin: 0;
}
