.container {
    height: calc(100% + 8px);
    margin: -4px;
}

.winButton {
    /* height: 22px;
    width: 22px;
    padding: 0; */
    font-size: 11px;
    text-align: center;
    width: 46px;
    height: 100%;
    border-radius: 0;
}

.winButton svg {
    display: inline;
    shape-rendering: crispEdges;
}

.winButton:focus {
    box-shadow: none;
    border-style: none;
    outline: none;
}

.close:hover {
    background-color: var(--red-50);
}
