.caution {
    /* grid-area: footer; */
    width: 100%;
    background-repeat: repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
    background-image: url("./caution.svg");
}
  
.caution__text {
    margin: 0.5em 0;
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 0.5em;
}
  
.caution__link,
.caution__link:visited {
    color: skyblue;
}
  
.caution__link:active,
.caution__link:focus,
.caution__link:hover {
    color: blue;
}