.tournament {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 96px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content-with-sidebar";
}

:global(.closed-sidebar) .tournament {
    grid-template-columns: 48px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar content-with-sidebar";
}

.header {
    grid-area: header;
    text-align: center;
    background-color: var(--grey-20);
    border-width: 1px;
    border-color: var(--grey-30);
    border-bottom-style: solid;
}

.header h1,
.header input[type="text"] {
    margin-bottom: 0;
}

.header p {
    margin: 0;
}

.contentFrame [data-reach-tab-list] {
    padding: 4px 4px 0 4px;
}

.table {
    border-collapse: collapse;
    width: min-content;
}

.topHeader {
    vertical-align: bottom;
}

.row td {
    border-width: 1px;
    border-color: var(--grey-40);
    border-style: solid;
}

.row th {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--grey-40);
    background-color: var(--white-100);
}

.row:nth-child(even) {
    background-color: var(--white-100);
}

.row:nth-child(odd) {
    background-color: var(--grey-20);
}

.compact .row:nth-child(odd) {
    background-color: var(--white-100);
}

.playerName {
    text-align: left;
    color: var(--grey-90);
}

.rank {
    text-align: center;
    color: var(--grey-90);
}

.table :global(.table__number) {
    padding: 4px;
}
