.app {
    /* height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "content"
      "footer"; */
    overflow: visible; /* required for position:sticky */
}

.header {
    /* grid-area: header; */
    position: sticky;
    top: 0;
    background-color: lightgray !important;
}

.content {
    /* grid-area: content; */
    padding: 1em;
    overflow: auto;
}

.caution {
    /* grid-area: footer; */
    width: 100%;
    background-repeat: repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
}
  
.caution p {
    margin: 0.5em 0;
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 0.5em;
}
  
.caution a,
.caution a:visited {
    color: skyblue;
}
  
.caution a:active,
.caution a:focus,
.caution a:hover {
    color: blue;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}


caption {
  font-size: 1.125em;
  font-weight: 700;
}

.table__number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

td {
    padding: 0 0.5em;
}

.center {
  text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}

textarea.json {
    font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
}

.table__roster {
    table-layout: auto;
}

th {
    text-align: center;
}

td {
  vertical-align: top;
}

.data__input {
    text-align:center;
}

li.player.missing {
    font-style: italic;
}

button,
input {
    font-size: 0.8em;
}

.tourney-select {
    display: inline-block;
    border: none;
    padding: 0.25em 0.5em;
    margin: 0;
    background: none;
    color: blue;
    font: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: solid 1px transparent;
}

.tourney-select:hover {
    color: skyblue;
}

.danger {
    color: red;
}

.disabled {
    opacity: 0.5;
}