.link {
    display: inline-block;
    margin: 0 8px;
    padding: 4px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.link[aria-current="page"] {
    border-bottom-color: var(--blue-50);
}

.link[aria-current="page"]:hover {
    text-decoration: none;
}

.mainMenu {
    text-align: left;
}
