.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 2.5em auto 3em;
    grid-template-columns: auto;
    grid-template-areas: 
      "header"
      "body"
      "footer";
}

.header {
    grid-area: header;
}

.body {
    grid-area: body;
    padding: 0 1em 0 1em;
    overflow: auto;
}

.caution {
    grid-area: footer;
    width: 100%;
    background-repeat: repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
}
  
.caution p {
    margin: 0;
    padding: 2px;
    background-color: black;
    color: white;
}
  
.caution a,
.caution a:visited {
    color: skyblue;
}
  
.caution a:active,
.caution a:focus,
.caution a:hover {
    color: blue;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}


caption {
  font-size: 1.125em;
  font-weight: 700;
}

.table__number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

td {
    padding: 0 0.5em;
}

.center {
  text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}

textarea.json {
    font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
}