.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  padding: 0 1em 0 1em;
  overflow:auto;
  grid-area: root;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

table {
  margin: 2em auto 0 auto;
}

td,
th {
  padding: 0.25em 1em;
}

th {
  text-align: left;
}

caption {
  font-size: 1.125em;
  font-weight: 700;
}

.table__number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

.center {
  text-align: center;
}

.tabbar {
  background-color: #fff;
  width: 100%;
}

.tabbar ul {
  list-style: none;
}

.tabbar li {
  display: inline-block;
}

.tab {
  background-color: transparent;
  color: green;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.tab:hover {
  color: lightgreen;
}

.tab:disabled {
  color: #aaa;
  cursor: default;
}

.new_round {
  color: white;
  background-color: green;
  border-radius: 0.5em;
}

.new_round:hover {
  color: lightgray;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}

.table__roster td {
  vertical-align: top;
}

textarea.json {
    font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
}

.main-nav {
    font-size: 20px;
}

[role="menuitem"] {
    cursor: pointer;
    margin: 0 0.5em;
}

.is-open {
    border-bottom: 1px black solid;
}