.app {
    overflow: visible; /* required for position:sticky */
}

.header {
    position: sticky;
    top: 0;
    background-color: lightgray !important;
}

.content {
    padding: 1em;
    overflow: auto;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

h2 {
    font-size: 1.25em;
    font-weight: 700;
}

h3 {
    font-weight: 1.125em;
    font-weight: 700;
}

caption {
    font-size: 1.125em;
    font-weight: 700;
}

.table__number {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

.center {
  text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}

textarea.json {
    font-family: "Fira Code", Menlo, Monaco, 'Courier New', monospace;
}

.data__input {
    text-align:center;
}

li.player.missing {
    font-style: italic;
}

button,
input,
select {
    font-size: 0.8em;
}

.danger:not([disabled]) {
    color: red;
}

.disabled {
    opacity: 0.5;
}

svg {
    vertical-align: middle;
    height: 1em;
    width: auto;
}

.iconButton {
    padding: 0.125em 0.25em;
}

.helpIcon {
    cursor: help;
}

.status-alert {
    color: darkgoldenrod;
}

.status-ok {
    color: green;
}