/*******************************************************************************
 * Setup
 ******************************************************************************/
@import-normalize;

:root {
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-monospace: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
    --color-primary-light: #86A666;
    --color-primary-dark: #393E41;
    --color-secondary-light: #FBFEF9;
    --color-secondary-dark: #E6E8E6;
    --color-tertiary: #0E79B2;
}

html {
    font-size: 20px;
    font-family: var(--font-main);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
    height: 100vh;
}

a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

a:hover {
    color: var(--color-primary-light);
}

p a {
    color: var(--color-tertiary);
}

/*******************************************************************************
 * Layout
 ******************************************************************************/
.app {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "app-header"
        "app-content"
        "app-footer";
}

.header {
    grid-area: app-header;
    background-color: var(--color-secondary-dark);
    border-bottom: 1px var(--color-primary-dark) solid;
}

.content {
    grid-area: app-content;
    overflow: auto;
}

.content > div[role="group"] {
    height: 100%;
}

.footer {
    grid-area: app-footer;
}

.passthrough,
.passthrough > div[role="group"] {
    width: 100%;
    height: 100%;
}

/*******************************************************************************
 * Typography
 ******************************************************************************/
h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin: 0.25em 0;
}

h2 {
    font-size: 1.25em;
    font-weight: 400;
}

h3 {
    font-weight: 1.125em;
    font-weight: 400;
}

code {
  font-family: var(--font-monospace);
}

/*******************************************************************************
 * Tables
 ******************************************************************************/
table {
    border-collapse: collapse;
    margin: auto;
}

caption {
    font-size: 1.25em;
    font-weight: 400;
}

th {
    color: var(--color-primary-dark);
    font-weight: 400;
}

th, td {
    padding: 0.25em 0.25em;
}

.table__number {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

.center {
  text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}
.data__input {
    text-align:center;
}

li.player.missing {
    font-style: italic;
}

button,
input,
select,
textarea {
    font-size: 0.8em;
}

textarea.json {
    font-family: "Fira Code", Menlo, Monaco, "Courier New", monospace;
    white-space: pre;
}


.danger:not([disabled]) {
    color: darkred;
}

.disabled {
    opacity: 0.5;
}

svg {
    vertical-align: middle;
    height: 1em;
    width: auto;
}

.iconButton {
    padding: 0.125em 0.25em;
}

.helpIcon {
    cursor: help;
}

.status-alert {
    color: darkgoldenrod;
}

.status-ok {
    color: green;
}

.selected {
    background-color: lightblue;
}

.svg-icon {
    height: 1em;
    width: auto;
}