/*******************************************************************************
 * Setup
 ******************************************************************************/
@import-normalize;
@import url("../node_modules/photon-colors/photon-colors.css");
/* https://design.firefox.com/photon/ */

:root {
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-monospace: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}

html {
    font-size: 17px;
    font-family: var(--font-main);
    color: var(--grey-90);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
    height: 100vh;
}

svg {
    vertical-align: middle;
    height: 1em;
    width: auto;
}

/*******************************************************************************
 * Colors
 ******************************************************************************/

a {
  color: var(--blue-60);
  text-decoration: none;
}

a:hover {
    color: var(--blue-60);
    text-decoration: underline;
}

a:active {
    color: var(--blue-70);
}

a:focus {
    box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--grey-40);
}

.selected {
    background-color: var(--teal-50);
}

.status-alert {
    color: var(--yellow-70);
}

.status-ok {
    color: var(--green-80);
}

/*******************************************************************************
 * Buttons
 ******************************************************************************/
button,
input[type="submit"],
.button {
    color: var(--grey-90);
    background-color: var(--grey-90-a10);
    border-radius: 2px;
    height: 32px;
    padding: 0 8px;
    font-size: 13px;
    min-width: 132px;
    width: auto;
    border: none;
    border-width: 1px;
}

button.micro {
    height: 24px;
    font-size: 11px;
    min-width: auto;
}

.button-primary,
input[type="submit"].button-primary {
    color: var(--white-100);
    background: var(--blue-60);
}

.button-primary:hover,
input[type="submit"].button-primary:hover {
    background-color: var(--blue-70);
}

.button-primary:active,
input[type="submit"].button-primary:active {
    background-color: var(--blue-80);
}

.button-primary:focus,
input[type="submit"].button-primary:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

.ghost {
    font-size: 16px;
    color: var(--grey-90-a80);
    background-color: transparent;
    border: none;
    height: 32px;
    min-width: 32px;
    width: 32px;
    padding: 8px;
}

button:hover,
input[type="submit"]:hover,
.button:hover {
    background: var(--grey-90-a20);
}

button:active,
input[type="submit"]:active,
.button:active {
    background: var(--grey-90-a30);
}

button:focus,
input[type="submit"]:focus,
.button:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

/* .danger:not([disabled]) {
    color: darkred;
} */

[disabled],
.disabled {
    opacity: 0.4;
}

select[disabled] {
    opacity: 1; /* fixes a visual bug */
}

button[disabled]:hover,
input[type="text"][disabled]:hover,
.disabled:hover {
    border-color: transparent;
    background-color: var(--grey-90-a10);
}



.iconButton {
    padding: 0.125em 0.25em;
}

/*******************************************************************************
 * Forms
 ******************************************************************************/
label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.833rem;
    line-height: 1.4;
}

input[type="text"] {
    border-color: var(--grey-90-a20);
    border-width: 1px;
    border-radius: 2px;
    padding: 0 8px;
    width: auto;
    height: 32px;
    font-size: 1em;
}

input:hover {
    border-color: var(--grey-90-a30);
}

input:focus {
    border-color: var(--blue-50);
    box-shadow:
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

/* input:invalid {
    border-color: var(--red-60);
    box-shadow:
        0 0 0 1px #d70022,
        0 0 0 4px rgba(251, 0, 34, 0.3);
} */

::placeholder {
    color: var(--grey-50);
    /* font-size: 0.833rem;
    line-height: 1.4; */
}

/*******************************************************************************
 * Layout
 ******************************************************************************/
.app {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "app-header"
        "app-content"
        "app-footer";
}

.header {
    grid-area: app-header;
    background-color: var(--grey-20);
    border-bottom: 1px var(--grey-40) solid;
}

.content {
    grid-area: app-content;
    overflow: auto;
}

div[role="group"] {
    height: 100%;
}

.footer {
    grid-area: app-footer;
}

.passthrough,
.passthrough > div[role="group"] {
    width: 100%;
    height: 100%;
}

.toolbar {
    margin: 4px 2px;
}

/*******************************************************************************
 * Typography
 ******************************************************************************/
.display-20,
h1 {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    margin: 0.25em 0;
}

.title-40,
h2,
caption {
    font-size: 28px;
    font-weight: 300;
}

.title-30,
h3 {
    font-size: 22px;
    font-weight: 300;
}

.title-20,
th,
h4 {
    font-size: 17px;
    font-weight: 500;
}

.title-10,
h5 {
    font-size: 13px;
    font-weight: 500;
}

.body-30 {
    font-size: 17px;
    font-weight: 400;
}

.body-20 {
    font-size: 15px;
    font-weight: 400;
}

.body-10 {
    font-size: 13px;
    font-weight: 400;
}

.monospace,
code {
  font-family: var(--font-monospace);
}

/*******************************************************************************
 * Tables
 ******************************************************************************/
table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 0.25em 0.25em;
}

.table__number {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: right;
}

.center {
  text-align: center;
}

.inactive .table__player,
.inactive .table__number,
li.inactive {
  opacity: 0.5;
}

.dummy {
  font-style: italic;
}
.data__input {
    text-align:center;
}

li.player.missing {
    font-style: italic;
}

textarea.json {
    font-family: "Fira Code", Menlo, Monaco, "Courier New", monospace;
    white-space: pre;
}

.helpIcon {
    cursor: help;
}

.svg-icon {
    height: 1em;
    width: auto;
}

/*******************************************************************************
 * Tabs
 ******************************************************************************/
[data-reach-tabs] {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "tab-list"
        "tab-panels"
}

[data-reach-tab-list] {
    grid-area: tab-list;
    display: flex;
    background: transparent;
    height: 48px;
}

[data-reach-tab-panels] {
    grid-area: tab-panels;
    overflow: auto;
}

[data-reach-tab] {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    background-color: transparent;
    color: var(--grey-90-a80);
    padding: 16px 8px;
    height: auto;
    font-size: 1em;
}

[data-reach-tab]:hover {
    background-color: var(--grey-90-a10);
    border-bottom-color: var(--grey-90-a20);
}

[data-reach-tab]:active {
    background-color: var(--grey-90-a20);
    border-bottom-color: var(--grey-90-a20);
}

[data-reach-tab][aria-selected="true"] {
    color: var(--blue-60);
    border-bottom-color: var(--blue-50);
}

[data-reach-tab][aria-selected="true"]:hover {
    background-color: var(--grey-90-a10);
}

[data-reach-tab][aria-selected="true"]:active {
    background-color: var(--grey-90-a20);
}
[data-reach-tab][disabled] {
    background-color: transparent;
}
[data-reach-tab][disabled]:hover {
    background-color: transparent;
}