body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 3em;
  grid-template-columns: auto;
  grid-template-areas: 
    "root"
    "footer";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: skyblue;
}

.caution {
  grid-area: footer;
  width: 100%;
  background-repeat: repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.caution p {
  margin: 0;
  padding: 2px;
  background-color: black;
  color: white;
}

.caution a,
.caution a:visited {
  color: skyblue;
}

.caution a:active,
.caution a:focus,
.caution a:hover {
  color: blue;
}