.table__roster {
    table-layout: auto;
}

th {
    text-align: center;
}

td {
  vertical-align: top;
}

.table__roster tbody,
.table__roster tr {
}

.data__input {
    text-align:center;
}

.row__id {
}

.row__player {
}

.row__controls {;
}

.row__result {
}